{% extends 'base.html.twig' %}

{% block title %}Edit Location{% endblock %}

{% block body %}
    <h1>Modifier lieu</h1>

    {{ include('location/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('location_index') }}">retour</a>

    {{ include('location/_delete_form.html.twig') }}
{% endblock %}
