{% extends 'base.html.twig' %}
{% block body %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>Bienvenue sur le Wild Circus </h1>

<a href="{{  }}"></a>
<a href=""></a>
<a href=""></a>
</body>
</html>
{% endblock %}
