@import "~bootstrap/scss/bootstrap";

body {
    background-color: black;
    color: deeppink;
}

.navbar-brand{
    width: 7%;
}
.flicker {
    animation: flicker 2s linear infinite 2s;
}
.neon {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #0ff, 0 0 30px #0ff,
    0 0 40px #0ff, 0 0 120px #0ff, 0 0 140px #0ff, 0 0 200px #0ff,
    0 0 500px #0ff;
}
@keyframes flicker {
    0% {
        box-shadow: none;
    }
    6% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #0ff, 0 0 30px #0ff,
        0 0 40px #0ff, 0 0 120px #0ff, 0 0 140px #0ff, 0 0 200px #0ff,
        0 0 500px #0ff;
    }
    8% {
        box-shadow: none;
    }
    10% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #0ff, 0 0 30px #0ff,
        0 0 40px #0ff, 0 0 120px #0ff, 0 0 140px #0ff, 0 0 200px #0ff,
        0 0 500px #0ff;
    }
    12% {
        box-shadow: none;
    }
    14% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #0ff, 0 0 30px #0ff,
        0 0 40px #0ff, 0 0 120px #0ff, 0 0 140px #0ff, 0 0 200px #0ff,
        0 0 500px #0ff;
    }
}
