{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="button2 b-red little rot-135">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
