{% extends 'base.html.twig' %}

{% block title %}Edit Artist{% endblock %}

{% block body %}
    <h1>Modifier artiste</h1>

    {{ include('artist/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('artist_index') }}">retour</a>

    {{ include('artist/_delete_form.html.twig') }}
{% endblock %}
