{% extends 'base.html.twig' %}

{% block title %}Nouvelle performance{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Performance</h1>

    {{ include('performance/_form.html.twig') }}

    <a href="{{ path('performance_index') }}">retour</a>
{% endblock %}
